<h1> País: <%= @country.name %> </h1> <br> <br>
Moeda: <%= @country.currency %> <br>
Idioma: <%= @country.language %> <br>
Capital: <%= @country.capital %> <br>
Ponto Turístico: <%= @country.point_of_interest %> <br>
Custo: <%= "$" * @country.cost %> <br>
<%= link_to "Editar", edit_country_path(@country) %>
<br>

<h2> Comentários: </h2>
<% @country.comments.each do |comment| %>
        <b> <%= comment.author %> : </b>
        <%= comment.text %> <br>
        <br>
<% end %>

<%= form_for [@country, Comment.new] do |f| %>
Autor: <br> <%= f.text_field :author %>
<br> Comentario: <br> <%= f.text_area :text %>
<br>
<br> <%= f.submit %>
<% end %> 
